<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="heroes" >
    <!-- image Column -->
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img [src]="element.thumbnail.path+'/standard_small.'+element.thumbnail.extension" [alt]="element.name">
      </mat-cell>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="btns-actions">
          <button mat-stroked-button color="primary">+</button>
          <button mat-stroked-button color="warn" (click)="deleteHero(element._id)">-</button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
