<div class="grid">
  <div class="list-images-heroes">
    <h2>My Heroes</h2>
    <div class="hero-img" *ngFor="let i of heroes">
        <a [href]="'/hero/edit/'+i.id_Api">
          <img [src]="i.thumbnail.path+'/portrait_xlarge.'+i.thumbnail.extension" [alt]="i.name">
        </a>
    </div>
  </div>
  <mat-tab-group class="container">
    <mat-tab label="Resultados">
      <app-input-search></app-input-search>
      <app-data-result></app-data-result>
    </mat-tab>
    <mat-tab label="Heroes saved">
      <app-input-search></app-input-search>
      <app-data-heroes ></app-data-heroes>
    </mat-tab>
  </mat-tab-group>
</div>
